

  <div class="jumbotron">
    <h1 class="title">XPLORERS</h1>
    <p class="slogan">We explore the universe.
    <br>
    <br>
    <br>
     We're looking for big thinkers and doers to change human's future!
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Make Future Happen</a></p>
  </div>

  <div class= "Middle-Slogan">
      <h4>XPLORERS   DESIGNS, MANUFACTURES AND LAUNCHES ADVANCED ROCKETS AND SPACECRAFT</h4>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://www.spacex.com/sites/spacex/files/home_block_reusable.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h4>REUSABILITY: THE KEY TO MAKING HUMAN LIFE MULTI-PLANETARY</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://www.spacex.com/sites/spacex/files/home_block_commercial_crew.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h4>COMMERCIAL CREW: TAKING NORMAL PEOPLE TO SPACE</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://www.spacex.com/sites/spacex/files/home_block_careers.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h4>JOIN THE XPLORER TEAM </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
