

  <div class="jumbotron">
    <h1 class="title">XSpace</h1>
    <p class="slogan">Make Humans a Multiplanetary Species.
    <br>
    <br>
    <br>
     We're looking for big thinkers and doers to change human's future
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Make Future Happen</a></p>
  </div>
