<div>
<article>
     <h1 class=""><font><font class="" contenteditable="false"><font><font class="">Life is too long for a wrong job.</font></font></font></font></h1>

</article>
<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg"
id="video-background">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4"
    type="video/mp4" class=""><font><font class=""><font><font>Su navegador no soporta la Etiqueta de vídeo. </font></font>
        </font><font class=""><font><font>Le sugiero Que actualice su Navegador.
</font></font>
        </font>
        </font>
</video>
</div>


<section id="company">
<div class = "container-fluid">
  <div class="row">
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://www.spacex.com/sites/spacex/files/home_block_reusable.jpg" alt="search" class = "img-thhumbnail">
        <div class="caption">
          <h4>REUSABILITY: THE KEY TO MAKING HUMAN LIFE MULTI-PLANETARY</h4>
        </div>
        <div class="Learn-More">
        <%= link_to("Learn More", jobs_path ) %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://www.spacex.com/sites/spacex/files/home_block_commercial_crew.jpg" alt="bid" class = "img-thhumbnail">
        <div class="caption">
          <h4>COMMERCIAL CREW: TAKING NORMAL PEOPLE TO SPACE</h4>
        </div>
        <div class="Learn-More">
        <%= link_to("Learn More", jobs_path ) %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://www.spacex.com/sites/spacex/files/home_block_careers.jpg" alt="heart" class = "img-thhumbnail">
        <div class="caption">
          <h4>JOIN THE XPLORER TEAM </h4>
        </div>

        <div class="Learn-More">
        <%= link_to("Learn More", jobs_path ) %>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
