

.wrap {
  position: absolute;
  top: 50%;
  left: 44.5%;
  margin-top: 80px;
  margin-left: -89px;
  text-align: center;
}

a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);

}

a.button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  padding: 8px 16px;//通过padding来决定btn的大小
  font-size: 20px;//btn文字大小
  letter-spacing: 3px;//调整文字间距
  border-radius: 3px;//btn圆角
  width: 80px;//这里用指定宽度把btn拉得更长
  height: 40px;
}

a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button2 {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  padding: 8px 16px;//通过padding来决定btn的大小
  font-size: 20px;//btn文字大小
  letter-spacing: 3px;//调整文字间距
  border-radius: 3px;//btn圆角
  width: 80px;//这里用指定宽度把btn拉得更长
  height: 40px;
}

a.button2:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}
