// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.btn-danger {
    color: #fff;//字体颜色
    background-color: #EF6C00;//背景颜色
    border-color: #EF6C00;//边框颜色
}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色
    border-color: #E65100;//鼠标放置在btn上的边框颜色
}

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 80px;//这里用指定宽度把btn拉得更长
    height: 40px;
}

.lead {
  text-align: center;
  font-size: 20px;
  margin-top: 565px;
  margin-bottom: 30px;
  color: white;
  top: 12px;
}







@import url('http://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: auto;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}

h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}


.slogan-font {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 360px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}
