



<div class="footer">
  <div class="container">
          <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
          <a href='https://www.facebook.com/jimmysu91'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
          <a href='https://twitter.com/Jimmysu08'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
          <a href='http://jimmysu1991.logdown.com/'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
          <a href='http://jimmysu1991.logdown.com/'><i class="fa fa-rss fa-3x fa-fw"></i></a>
          <a href='http://jimmysu1991.logdown.com/'><i class="fa fa-vine fa-3x fa-fw"></i></a>
          <a href='http://jimmysu1991.logdown.com/'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
          <a href='http://jimmysu1991.logdown.com/'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
        </span>
  </div>
</div>
